/* #div-one {
    background-color: red;
}
#div-one {
    background-color: blue;
} */


/* .first-div {
    background-color: green;
    
} */
div {
    background-color: yellow;
}

button {
    background-color: orange;
}